h1 { 
	color: orangered; 
	margin-bottom: -5px; 
} 
p { 
	margin-bottom: -10px; 
} 
.ui { 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
} 
.row { 
	display: flex; 
} 
.cell { 
	border: none; 
	width: 80px; 
	height: 80px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-size: 24px; 
	text-align: center; 
	cursor: pointer; 
} 
.cell:active { 
	outline: none; 
} 
/* 3*3 Grid */
#b1{ 
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
} 

#b2 { 
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b3 { 
	border-bottom: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b4 { 
	border-top: 1px solid gray; 
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
} 
	
#b5 { 
	border: 1px solid gray; 
} 

#b6 { 
	border-top: 1px solid gray; 
	border-bottom: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b7 { 
	border-top: 1px solid gray; 
	border-right: 1px solid gray; 
} 

#b8 { 
	border-top: 1px solid gray; 
	border-right: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b9 { 
	border-top: 1px solid gray; 
	border-left: 1px solid gray; 
} 
/* Reset Button */
#but { 
	box-sizing: border-box; 
	width: 95px; 
	height: 40px; 
	border: 1px solid dodgerblue; 
	margin-left: auto; 
	border-radius: 8px; 
	font-family: Verdana, 
		Geneva, Tahoma, sans-serif; 

	background-color: whitesmoke; 
	color: dodgerblue; 
	font-size: 20px; 
	cursor: pointer; 
} 

/* Player turn space */
#print { 
	font-family: Verdana, 
		Geneva, Tahoma, sans-serif; 
	color: dodgerblue; 
	font-size: 20px; 
} 

/* Main Container */
#main { 
	text-align: center; 
	margin-left: 250px;  /* Adjust this according to sidebar width */
    	padding: 20px;
} 

/* Game Instruction Text */
#ins { 
	font-family: Verdana,Geneva, Tahoma, sans-serif; 
	color: dodgerblue; 
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("/img/hero-bg-new2.JPG") top center;
  background-size: cover;
}
#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
#hero .hero-container {
  position: relative;
  z-index: 0;
  min-width: 100px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}
